@import './partials/_fonts.scss';

body {
	font-family: arial;
}
.stepper {
	display: flex;
	flex-direction: column;
	
	& .row {
		display: flex;
		align-items: center;
		flex: 1;

		position: relative;
		
		&:before {
			content: "";
			width: 2px;
			background: blue;
			position: absolute;
			left: 24px;
			height: 100%;
		}
		&:first-child:before {
			top: 50%;
			height: 50%;
		}
		&:last-child:before {
			bottom: 50%;
			height: 50%;
		}

		& .list {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25px;
			min-width: 25px;
			height: 25px;
			border-radius: 50%;
			border: 2px solid red;
			background: white;
			margin: 10px;	

			position: relative;
			z-index: 1;
			
			&:before {
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: grey;
			}
			
			&.done:before {
				display: flex;
				align-items: center;
				justify-content: center;
				content: "";
				width: 5px;
				height: 10px;
				border-color: red;
				border-style: solid;
				border-width: 0px 3px 3px 0px;
				transform: rotate(45deg);
				background: transparent;
				border-radius: initial;
				margin-top: -3px;
			}
		}
		& .text {
			padding: 20px 0;
		}
	}
}